<div class="container">
    <div class="inner-container">
        <h2>
            RLM Model
        </h2>
        <div class="definitions-container">
            <div class="definition">
                <div class="name">Name:</div>
                <div class="value">Rat Liver Microsomal Stability</div>
            </div>
            <div class="definition">
                <div class="name">Dataset Type:</div>
                <div class="value">Classification</div>
            </div>
            <div class="definition">
                <div class="name">Dataset Size:</div>
                <div class="value">20,216</div>
            </div>
            <div class="definition">
                <div class="name">Validation:</div>
                <div class="value">5-Fold CV and Time-Split CV</div>
            </div>
            <div class="definition">
                <div class="name">Descriptors:</div>
                <div class="value">Morgan fingerprints; RDKit descriptors; SMILES; Molecular Graphs</div>
            </div>
            <div class="definition">
                <div class="name">Model Details:</div>
                <div class="value">
                    The consensus model includes four individual models: random forest, deep neural network, long-short
                    term memory network and graph convolutional neural network.</div>
            </div>
            <div class="definition">
                <div class="name">Interpretation of Model Predictions:</div>
                <div class="value">
                    The models provide a predicted class (1 or 0) for a given compound. If the predicted class is '1', it means the compound is predicted as unstable (t1/2 &lt;= 30 min) and if the predicted class is '0', the compound is predicted as stable (t1/2 &gt; 30 min). Along with the predicted class, the models provide a probability score (between 0 and 1) shown in parentheses next to the predicted class. This is the probability for a compound to be unstable. If this value is &gt;= 0.5, the predicted class is '1', otherwise it is '0'.</div>
            </div>
            <div class="definition">
                <div class="name">Data for Download:</div>
                <div class="value">
                    A subset of the dataset used for developing these models is available for download. Click <a
                        [href]="dataDownloadHref" target="_blank">here</a> to download. Alternatively, this data is also
                    available from PubChem Bioassay database: <a
                        href="https://pubchem.ncbi.nlm.nih.gov/assay/assay.cgi?aid=1508591" target="_blank">AID
                        1508591</a>.
                </div>
            </div>
        </div>
        <h2>
            RLM Assay Protocol
        </h2>
        <p>
            Experiments were performed using a Freedom Evo 200 automated platform with a 96-channel (MCA96) head
            with EVOware software (version 3.2) (Tecan Inc., Männedorf, Switzerland). The system also includes an
            Inheco heating block and cooling block (Inheco, Munich, Germany). Six standard controls were tested in
            each run: buspirone, propranolol, diclofenac, loperamide, carbamazepine and antipyrine. The assay
            incubation system consisted of 0.5 mg/mL of rat microsomal protein (Strain: Sprague-Dawley), 1.0 μM drug
            concentration, and NADPH regeneration system (containing 0.650 mM NADP+, 1.65 mM glucose 6-phosphate,
            1.65 mM MgCl2, and 0.2 unit/mL G6PDH) in 100 mM phosphate buffer at pH 7.4. The incubation was carried
            out at 37 °C for 15 min. The reaction was quenched by adding 555 μL of acetonitrile containing 0.28 μM
            albendazole, an internal standard. After a 20-minute centrifugation at 3000 rpm at 4°C, 30 μL of the
            supernatant was transferred to an analysis plate and was diluted five-fold using 1:2 v/v
            acetonitrile/water. Sample quantification and analysis was performed using a previously described method
            (Shah et al., 2016) with minor modifications. The t1/2 values were capped at 30 minutes since for a
            15-minute assay, the data cannot be extrapolated beyond 30 minutes (Di et al., 2004).
        </p>
        <h2>
            References:
        </h2>
        <ol>
            <li>
                Shah, P. et al. An Automated High-Throughput Metabolic Stability Assay Using an Integrated High
                Resolution Accurate Mass Method and Automated Data Analysis Software. Drug Metab Dispos. 44,
                1653-1661 (2016).
            </li>
            <li>
                Di, L. et al. Experimental design on single-time-point high-throughput microsomal stability assay. J
                Pharm Sci. 93, 1537-1544 (2004).
            </li>
        </ol>
    </div>
</div>