/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

div {
    box-sizing: border-box;
}

a:hover {
    cursor: pointer;
}

.fill-middle {
    flex: 1 1 auto;
}

.container {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.inner-container {
    max-width: 700px;
    width: 700px;
}

.definitions-container {
    display: flex;
    flex-direction: column;
}

.definition {
    display: flex;
    margin-bottom: 15px;

    .name {
        font-weight: 600;
        margin-right: 15px;
        min-width: 125px;
    }
}

@media(max-width: 550px) {

    .definition {
        flex-direction: column;
    }

    .value {
        padding-left: 30px;
        padding-top: 5px;
    }
}

@media(max-width: 700px) {

    .container {
        padding: 10px;
        width: auto;
    }

    .inner-container {
        max-width: 100%;
        width: 100%;
    }
}