<div class="container">
    <div class="inner-container">
        <h2>
            Background
        </h2>

        <p style="text-align: justify;">
            ADME@NCATS is a resource developed for the scientific community by NCATS to host in silico prediction models
            for different ADME endpoints. The resource allows prediction of different pharmacokinetic properties of
            small molecules which is potentially useful for structure optimization in early drug discovery. Users can
            provide input as a CSV/Text file containing SMILES. Alternatively, the users can sketch a molecule using the editor provided. For
            each compound, the predictions from the models are provided as output along with the confidence scores. Those users who cannot upload their data are encouraged to
            <a href="https://github.com/ncats/ncats-adme/" target="_blank" admeTrackLinkEvent evLabel="github">download the self-contained instance of ADME@NCATS</a> that can be run locally.
        </p>
        <p style="text-align: justify;">
            A subset of the data that were used for developing the models are provided for download on the individual model pages. The users are
            encouraged to use these data for development and validation of future QSAR models.
        </p>
        <br>
        <h2>
            Publications
        </h2>

        <ol>
         <li>
            <p>Siramshetty, V.B., Williams, J., Nguyen D.T. et al., Validating ADME QSAR Models Using Marketed Drugs. <i>SLAS Discov Adv Sci Drug Discov.</i> Accepted (April 2021).</p>
         </li>
         <li>
            <p>Siramshetty, V.B., Shah, P., Kerns, E. et al., <a href="https://doi.org/10.1038/s41598-020-77327-0" target="_blank">Retrospective assessment of rat liver microsomal stability at NCATS: data and QSAR models.</a> <i> Sci Rep</i> 10, 20713 (2020).</p>
         </li>
         <li>
            <p>Shah, P., Siramshetty, V.B., Zakharov, A.V. et al., <a href="https://doi.org/10.1186/s13321-020-00426-7" target="_blank">Predicting liver cytosol stability of small molecules.</a> <i> J Cheminform</i> 12, 21 (2020).</p>
         </li>
        </ol>

    </div>
</div>