<div class="container">
    <div class="inner-container">
        <h2>
            Background
        </h2>

        <p style="text-align: justify;">
            ADME@NCATS is a resource developed by NCATS to host in silico prediction models for various ADME (Absorption, Distribution, Metabolism and Excretion) properties. The resource serves as an important tool for the drug discovery community with potential uses in compound optimization and prioritization. The models were retrospectively validated on a subset of <a href="https://ncats.nih.gov/expertise/preclinical/npc" target="_blank">marketed drugs</a> which resulted in very good accuracies.
        </p>
        <p style="text-align: justify;">
            Users can provide input as a CSV or text file containing SMILES. Alternatively, the users can sketch a molecule using the molecule editor provided. For each compound, the predictions from the models are provided as output along with the confidence scores. Those users who cannot upload their data are encouraged to download the <a href="https://github.com/ncats/ncats-adme/" target="_blank" admeTrackLinkEvent evLabel="github">self-contained instance of ADME@NCATS</a> that can be run locally.
        </p>
        <p style="text-align: justify;">
            A subset of the data that were used for developing the models are made publicly accessible by depositing them into PubChem database. Links to data on PubChem can be found in the individual model pages. The users are highly encouraged to use these data for development and validation of QSAR models.
        </p>
        <br>
        <h2>
            Publications
        </h2>

        <ol>
         <li>
            <p>Gonzalez, E., Jain, S., Shah P. et al., Development of Robust QSAR Models for CYP2C9, CYP2D6, and CYP3A4 Catalysis and Inhibition. <i>Drug Metab Dispos.</i> Accepted (June 2021).</p>
         </li>
         <li>
            <p>Siramshetty, V.B., Williams, J., Nguyen D.T. et al., Validating ADME QSAR Models Using Marketed Drugs. <i>SLAS Discov Adv Sci Drug Discov.</i> Accepted (April 2021).</p>
         </li>
         <li>
            <p>Siramshetty, V.B., Shah, P., Kerns, E. et al., <a href="https://doi.org/10.1038/s41598-020-77327-0" target="_blank">Retrospective assessment of rat liver microsomal stability at NCATS: data and QSAR models.</a> <i> Sci Rep</i> 10, 20713 (2020).</p>
         </li>
         <li>
            <p>Shah, P., Siramshetty, V.B., Zakharov, A.V. et al., <a href="https://doi.org/10.1186/s13321-020-00426-7" target="_blank">Predicting liver cytosol stability of small molecules.</a> <i> J Cheminform</i> 12, 21 (2020).</p>
         </li>
        </ol>

    </div>
</div>