.title {
    font-size: 30px;
    color: white;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

.navigation {
    margin-left: 20px;
    .nav-item {
        margin-right: 20px;
        font-size: 14px;
        transform: all 500ms;
        color: white;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        &:active {
            text-decoration: underline;
        }
    }
}

@media(max-width: 445px) {
    .mat-toolbar {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 5px;
    }

    .mat-toolbar-single-row {
        height: auto;
    }

    .navigation {
        display: flex;
        justify-content: space-evenly;
        margin-left: 0;
        width: 100%;
        .nav-item {
            margin-right: 0;
        }
    }
}