<adme-loading></adme-loading>
<mat-toolbar color="primary">
  <a class="title" routerLink="/home">ADME @ NCATS</a>
  <div class="navigation">
    <a class="nav-item" [matMenuTriggerFor]="navMenu" >Models</a>
    <mat-menu #navMenu="matMenu">
      <button mat-menu-item routerLink="/models/rlm">RLM Stability</button>
      <button mat-menu-item routerLink="/models/pampa_ph5">PAMPA pH 5.0</button>
      <button mat-menu-item routerLink="/models/pampa_ph74">PAMPA pH 7.4</button>
      <button mat-menu-item routerLink="/models/solubility">Solubility</button>
      <button mat-menu-item routerLink="/models/hlc">HLC Stability</button>
      <button mat-menu-item routerLink="/models/cyp450">CYP450</button>
    </mat-menu>
    <a class="nav-item" routerLink="/predictions">Predict</a>
    <a class="nav-item" routerLink="/contact">Contact</a>
  </div>
  <span class="fill-middle"></span>
</mat-toolbar>
<router-outlet></router-outlet>
<div class="container footer">
  <p style="text-align: center;">Last Updated: {{release_date}} <span class="v-bar-1">|</span> Current Release: <a href="{{release_url}}" target="_blank"><u>{{tag_name}}</u></a></p>
  <p><a href="https://www.nih.gov/" target="_blank">NIH</a> <span class="v-bar-2">|</span>
      <a href="https://ncats.nih.gov/" target="_blank">NCATS</a> <span class="v-bar-2">|</span>
      <a href="https://ncats.nih.gov/privacy" target="_blank">PRIVACY ACT</a> <span class="v-bar-2">|</span>
      <a href="https://ncats.nih.gov/accessibility" target="_blank">ACCESSIBILITY</a> <span class="v-bar-2">|</span>
      <a href="https://ncats.nih.gov/disclaimer" target="_blank">DISCLAIMER</a>
  </p>
</div>
