.title {
    font-size: 30px;
    color: white;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

.navigation {
    margin-left: 20px;
    .nav-item {
        margin-right: 20px;
        font-size: 14px;
        transform: all 500ms;
        color: white;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        &:active {
            text-decoration: underline;
        }
    }
}

@media(max-width: 490px) {
    .mat-toolbar {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 5px;
    }

    .mat-toolbar-single-row {
        height: auto;
    }

    .navigation {
        display: flex;
        justify-content: space-evenly;
        margin-left: 0;
        width: 100%;
        .nav-item {
            margin-right: 0;
        }
    }
}

.footer {
  position: relative;
  bottom: 0;
  height: 80px;
  width: 100%;
  color:#fff;
  padding-bottom: 0px;
  padding-top: 10px;
  font-size: 13px;
  background-color: #673ab7;
  margin-bottom: -25px;
}

.v-bar-1 {
  padding: 0px 5px;
  color:#fff;
}

.v-bar-2 {
  padding: 0px 10px;
  color:#fff;
}

.footer a {
    /* color: #337ab7; */
    color:#fff;
    text-decoration: none;
    background-color: transparent;
}
