<div class="container">
    <div class="inner-container">
        <h1>
            Contact
        </h1>

        <div class="description">
            If you have any questions related to the models and data, please contact us at <a href="mailto:adme-ncats@mail.nih.gov">adme-ncats@mail.nih.gov</a>. Please find below the contact details of current team members.
        </div>

        <div class="profiles-row">
            <div class="profile-image-container">
                <img [src]="vishalImgSrc">
            </div>
            <div class="profile-info-container">
                <div>
                    Vishal Siramshetty
                </div>
                <div>
                    Postdoctoral Fellow (Informatics Core)
                </div>
                <div>
                    Email: <a href="mailto: siramshettyv2@nih.gov">siramshettyv2@nih.gov</a>
                </div>
            </div>
        </div>
        <div class="profiles-row">
            <div class="profile-image-container">
                <img [src]="ewyImgSrc">
            </div>
            <div class="profile-info-container">
                <div>
                    Ewy A. Mathé
                </div>
                <div>
                    Director (Informatics Core)
                </div>
                <div>
                    Email: <a href="mailto: ewy.mathe@nih.gov">ewy.mathe@nih.gov</a>
                </div>
            </div>
        </div>
        <div class="profiles-row">
            <div class="profile-image-container">
                <img [src]="rintaroImgSrc">
            </div>
            <div class="profile-info-container">
                <div>
                    Rintaro Kato
                </div>
                <div>
                    Postbaccalaureate Fellow (DMPK Group)
                </div>
                <div>
                    Email: <a href="mailto: rintaro.kato@nih.gov">rintaro.kato@nih.gov</a>
                </div>
            </div>
        </div>
        <div class="profiles-row">
            <div class="profile-image-container">
                <img [src]="pranavImgSrc">
            </div>
            <div class="profile-info-container">
                <div>
                    Pranav Shah
                </div>
                <div>
                    Lead, In Vitro ADME (DMPK Group)
                </div>
                <div>
                    Email: <a href="mailto: pranav.shah@nih.gov">pranav.shah@nih.gov</a>
                </div>
            </div>
        </div>
        <div class="profiles-row">
            <div class="profile-image-container">
                <img [src]="xinImgSrc">
            </div>
            <div class="profile-info-container">
                <div>
                    Xin Xu
                </div>
                <div>
                    Lead (DMPK Group)
                </div>
                <div>
                    Email: <a href="mailto: xin.xu3@nih.gov">xin.xu3@nih.gov</a>
                </div>
            </div>
        </div>
        <div class="resources-container">
            <h1>
                Resources
            </h1>
            <div class="resources-row">
                <div>
                    <a href="https://www.rdkit.org/" target="_blank">
                        <img [src]="rdkitImgSrc"/>
                    </a>
                </div>
                <div>
                    <a href="https://www.python.org/" target="_blank">
                        <img [src]="pythonImgSrc"/>
                    </a>
                </div>
            </div>
            <div class="resources-row">
                <div>
                    <a href="https://angular.io/" target="_blank">
                        <img [src]="angularImgSrc"/>
                    </a>
                </div>
                <div>
                    <a href="https://lifescience.opensource.epam.com/ketcher/index.html" target="_blank">
                        <img [src]="epamImgSrc"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
