<div class="container">
  <div class="inner-container">
    <h1>Contact</h1>

    <div class="description">
      If you have any questions related to the models and data, please contact
      us at
      <a href="mailto:adme-ncats@mail.nih.gov">adme-ncats@mail.nih.gov</a>.
      Please find below the contact details of the team members.
    </div>
    <div class="description">
      <b>Current</b>
    </div>
    <div class="profiles-row">
      <div class="profile-image-container">
        <img [src]="pranavImgSrc" />
      </div>
      <div class="profile-info-container">
        <div>Pranav Shah</div>
        <div>Lead, In Vitro ADME (DMPK Group)</div>
        <div>
          Email: <a href="mailto: pranav.shah@nih.gov">pranav.shah@nih.gov</a>
        </div>
      </div>
    </div>
    <div class="profiles-row">
      <div class="profile-image-container">
        <img [src]="ewyImgSrc" />
      </div>
      <div class="profile-info-container">
        <div>Ewy A. Mathé</div>
        <div>Director (Informatics Core)</div>
        <div>
          Email: <a href="mailto: ewy.mathe@nih.gov">ewy.mathe@nih.gov</a>
        </div>
      </div>
    </div>
    <div class="profiles-row">
      <div class="profile-image-container">
        <img [src]="xinImgSrc" />
      </div>
      <div class="profile-info-container">
        <div>Xin Xu</div>
        <div>Lead (DMPK Group)</div>
        <div>Email: <a href="mailto: xin.xu3@nih.gov">xin.xu3@nih.gov</a></div>
      </div>
    </div>
    <div class="profiles-row">
      <div class="profile-image-container">
        <img [src]="claireImgSrc" />
      </div>
      <div class="profile-info-container">
        <div>Claire Weber</div>
        <div>Postbaccalaureate Fellow (DMPK Group)</div>
        <div>
          Email:
          <a href="mailto: claire.weber2@nih.gov">claire.weber2@nih.gov</a>
        </div>
      </div>
    </div>
    <div class="profiles-row">
      <div class="profile-image-container">
        <img [src]="gyutaeImgSrc" />
      </div>
      <div class="profile-info-container">
        <div>Gyutae Lim</div>
        <div>Postdoctoral Fellow (DMPK Group)</div>
        <div>
          Email: <a href="mailto: gyutae.lim@nih.gov">gyutae.lim@nih.gov</a>
        </div>
      </div>
    </div>
    <div class="profiles-row">
      <div class="profile-image-container">
        <img [src]="niveditaImgSrc" />
      </div>
      <div class="profile-info-container">
        <div>Nivedita Kinatukara</div>
        <div>Postbaccalaureate Fellow (DMPK Group)</div>
        <div>
          Email:
          <a href="mailto: nivedita.kinatukara@nih.gov"
            >nivedita.kinatukara@nih.gov</a
          >
        </div>
      </div>
    </div>
    <br />
    <div class="description">
      <b>Former</b>
    </div>
    <div class="profiles-row">
      <div class="profile-image-container">
        <img [src]="vishalImgSrc" />
      </div>
      <div class="profile-info-container">
        <div>Vishal B. Siramshetty</div>
        <div>Genentech</div>
      </div>
    </div>
    <div class="profiles-row">
      <div class="profile-image-container">
        <img [src]="trungImgSrc" />
      </div>
      <div class="profile-info-container">
        <div>Dac-Trung Nguyen</div>
        <div>Pfizer</div>
      </div>
    </div>
    <div class="profiles-row">
      <div class="profile-image-container">
        <img [src]="noelImgSrc" />
      </div>
      <div class="profile-info-container">
        <div>Noel T. Southall</div>
        <div>AstraZeneca</div>
      </div>
    </div>
    <div class="profiles-row">
      <div class="profile-image-container">
        <img [src]="jorgeImgSrc" />
      </div>
      <div class="profile-info-container">
        <div>Jorge Neyra</div>
        <div>Somatus</div>
      </div>
    </div>
    <div class="profiles-row">
      <div class="profile-image-container">
        <img [src]="jordanImgSrc" />
      </div>
      <div class="profile-info-container">
        <div>Jordan Williams</div>
        <div>University of Pennsylvania</div>
      </div>
    </div>
    <div class="profiles-row">
      <div class="profile-image-container">
        <img [src]="rintaroImgSrc" />
      </div>
      <div class="profile-info-container">
        <div>Rintaro Kato</div>
        <div>Former Postbaccalaureate Fellow (DMPK Group)</div>
      </div>
    </div>
    <div class="resources-container">
      <h1>Resources</h1>
      <div class="resources-row">
        <div>
          <a href="https://www.rdkit.org/" target="_blank">
            <img [src]="rdkitImgSrc" />
          </a>
        </div>
        <div>
          <a href="https://www.python.org/" target="_blank">
            <img [src]="pythonImgSrc" />
          </a>
        </div>
      </div>
      <div class="resources-row">
        <div>
          <a href="https://angular.io/" target="_blank">
            <img [src]="angularImgSrc" />
          </a>
        </div>
        <div>
          <a
            href="https://lifescience.opensource.epam.com/ketcher/index.html"
            target="_blank"
          >
            <img [src]="epamImgSrc" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
