<div class="container">
    <div class="inner-container">
        <h1>
            Contact
        </h1>
        <div class="profiles-row">
            <div class="profile-image-container">
                <img [src]="vishalImgSrc">
            </div>
            <div class="profile-info-container">
                <div>
                    Vishal Siramshetty
                </div>
                <div>
                    Postdoctoral Fellow (Informatics)
                </div>
                <div>
                    Email: <a href="mailto: siramshettyv2@nih.gov">siramshettyv2@nih.gov</a> (models/predictions related queries)
                </div>
            </div>
        </div>
        <div class="profiles-row">
            <div class="profile-image-container">
                <img [src]="pranavImgSrc">
            </div>
            <div class="profile-info-container">
                <div>
                    Pranav Shah
                </div>
                <div>
                    Lead (In Vitro ADME)
                </div>
                <div>
                    Email: <a href="mailto: pranav.shah@nih.gov">pranav.shah@nih.gov</a> (assay/data related queries)
                </div>
            </div>
        </div>
        <div class="profiles-row">
            <div class="profile-image-container">
                <img [src]="jorgeImgSrc">
            </div>
            <div class="profile-info-container">
                <div>
                    Jorge Neyra
                </div>
                <div>
                    Software Developer, Informatics (Alumni)
                </div>
            </div>
        </div>
        <div class="profiles-row">
            <div class="profile-image-container">
                <img [src]="jordanImgSrc">
            </div>
            <div class="profile-info-container">
                <div>
                    Jordan Williams
                </div>
                <div>
                    Postbaccalaureate Fellow (In Vitro ADME)
                </div>
                <div>
                    Email: <a href="mailto: jordan.williams2@nih.gov">jordan.williams2@nih.gov</a>
                </div>
            </div>
        </div>
        <div class="profiles-row">
            <div class="profile-image-container">
                <img [src]="noelImgSrc">
            </div>
            <div class="profile-info-container">
                <div>
                    Noel Southall
                </div>
                <div>
                    Group Leader, Informatics (Alumni)
                </div>
            </div>
        </div>
        <div class="profiles-row">
            <div class="profile-image-container">
                <img [src]="trungImgSrc">
            </div>
            <div class="profile-info-container">
                <div>
                    Trung Nguyen
                </div>
                <div>
                    Staff Scientist, Informatics (Alumni)
                </div>
            </div>
        </div>
        <div class="profiles-row">
            <div class="profile-image-container">
                <img [src]="xinImgSrc">
            </div>
            <div class="profile-info-container">
                <div>
                    Xin Xu
                </div>
                <div>
                    Lead (ADME Group)
                </div>
                <div>
                    Email: <a href="mailto: xin.xu3@nih.gov">xin.xu3@nih.gov</a>
                </div>
            </div>
        </div>
        <div class="resources-container">
            <h1>
                Resources
            </h1>
            <div class="resources-row">
                <div>
                    <a href="https://www.rdkit.org/" target="_blank">
                        <img [src]="rdkitImgSrc"/>
                    </a>
                </div>
                <div>
                    <a href="https://www.python.org/" target="_blank">
                        <img [src]="pythonImgSrc"/>
                    </a>
                </div>
            </div>
            <div class="resources-row">
                <div>
                    <a href="https://angular.io/" target="_blank">
                        <img [src]="angularImgSrc"/>
                    </a>
                </div>
                <div>
                    <a href="https://lifescience.opensource.epam.com/ketcher/index.html" target="_blank">
                        <img [src]="epamImgSrc"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
