:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.actions {
    padding-top: 15px;
}

iframe {
    width: 100%;
    min-width: 640px;
    border: none;
    min-height: 430px;
}

.sketcher-container {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
}