.content-container {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.mat-tab-group {
    width: 100%;
}

.tab-body {
    padding-top: 15px;
}

.molecule-input {
    display: flex;
    min-width: 640px;
    width: 100%;

    .mat-tab-header {
        margin-bottom: 10px;
      }
}

.top-actions-container {
    display: flex;
    align-items: center;
}

.models-output {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;

    mat-header-row {
        min-height: 48px;
    }
}

.table-structure {
    height: 50px;
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

mat-cell {
    word-wrap: anywhere;
}

.error-message-container {
    margin: 15px 0;
    font-weight: 500;
    color: red;
}