.content-container {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.mat-tab-group {
    width: 100%;
}

.tab-body {
    padding-top: 15px;
    max-width: 100%;
    width: 100%;
    overflow: auto;
    padding-bottom: 10px;
}

.molecule-input {
    display: flex;
    width: 100%;
    max-width: 100%;

    .mat-tab-header {
        margin-bottom: 10px;
      }
}



.error-message-container {
    margin: 15px 0;
    font-weight: 500;
    color: red;
    border: solid 1px red;
    border-radius: 2px;
    display: flex;

}

.error-message {
    flex-grow: 1;
    padding: 12px 7px;
}

.error-message-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}