<div class="container">
    <div class="inner-container">
        <h1>
            Data Availability
        </h1>

        <p style="text-align: justify;">
            Along with the predictions, we provide open access to the data underlying the prediction models. The experimental data associated with
            all compounds that could be made public have been deposited into the PubChem database as bioassay records that are open for public access.
            Links to the bioassay records and downloadable data files are provided below. Further details on the datasets are provided
            in individual model pages.
        </p>

        <div class="table-container">
            <div class="table-responsive-container">
                <table class="mat-table more-padding">
                    <thead>
                        <tr class="mat-header-row">
                            <th class="mat-header-cell center">
                                ADME Endpoint
                            </th>
                            <th class="mat-header-cell center">
                                Training Data<sup>a</sup>
                            </th>
                            <th class="mat-header-cell center">
                                Public Data<sup>b</sup>
                            </th>
                            <th class="mat-header-cell center">
                                PubChem Bioassay
                            </th>
                            <th class="mat-header-cell center">
                                Data File
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="mat-row">
                            <td class="mat-cell center">
                                RLM Stability
                            </td>
                            <td class="mat-cell center">
                                22,016
                            </td>
                            <td class="mat-cell center">
                                2,525
                            </td>
                            <td class="mat-cell center">
                                <a
                        href="https://pubchem.ncbi.nlm.nih.gov/bioassay/1508591" target="_blank" admeTrackLinkEvent evLabel="rlm pubchem">AID
                        1508591</a>
                            </td>
                            <td class="mat-cell center">
                              <a [href]="rlm_DownloadHref" target="_blank"><img class="img-icon" [src]="downloadIcon"></a>
                            </td>
                        </tr>
                        <tr class="mat-row">
                            <td class="mat-cell center">
                                PAMPA pH 5
                            </td>
                            <td class="mat-cell center">
                                5,227
                            </td>
                            <td class="mat-cell center">
                                486
                            </td>
                            <td class="mat-cell center">
                                <a
                        href="https://pubchem.ncbi.nlm.nih.gov/bioassay/1645871" target="_blank" admeTrackLinkEvent evLabel="pampa 50 pubchem">AID
                        1645871</a>
                            </td>
                            <td class="mat-cell center">
                              <a [href]="pampa50_DownloadHref" target="_blank"><img class="img-icon" [src]="downloadIcon"></a>
                            </td>
                        </tr>
                        <tr class="mat-row">
                            <td class="mat-cell center">
                                PAMPA pH 7.4
                            </td>
                            <td class="mat-cell center">
                                16,624
                            </td>
                            <td class="mat-cell center">
                                2,528
                            </td>
                            <td class="mat-cell center">
                                <a
                        href="https://pubchem.ncbi.nlm.nih.gov/bioassay/1508612" target="_blank" admeTrackLinkEvent evLabel="pampa 74 pubchem">AID
                        1508612</a>
                            </td>
                            <td class="mat-cell center">
                              <a [href]="pampa74_DownloadHref" target="_blank"><img class="img-icon" [src]="downloadIcon"></a>
                            </td>
                        </tr>
                        <tr class="mat-row">
                            <td class="mat-cell center">
                                Solubility
                            </td>
                            <td class="mat-cell center">
                                22,209
                            </td>
                            <td class="mat-cell center">
                                2,529
                            </td>
                            <td class="mat-cell center">
                                <a
                        href="https://pubchem.ncbi.nlm.nih.gov/bioassay/1645848" target="_blank" admeTrackLinkEvent evLabel="sol pubchem">AID
                        1645848</a>
                            </td>
                            <td class="mat-cell center">
                              <a [href]="sol_DownloadHref" target="_blank"><img class="img-icon" [src]="downloadIcon"></a>
                            </td>
                        </tr>
                        <tr class="mat-row">
                            <td class="mat-cell center">
                                HLC Stability
                            </td>
                            <td class="mat-cell center">
                                1,214
                            </td>
                            <td class="mat-cell center">
                                189
                            </td>
                            <td class="mat-cell center">
                                <a
                        href="https://pubchem.ncbi.nlm.nih.gov/bioassay/1508603" target="_blank" admeTrackLinkEvent evLabel="hlc pubchem">AID
                        1508603</a>
                            </td>
                            <td class="mat-cell center">
                              <a [href]="hlc_DownloadHref" target="_blank"><img class="img-icon" [src]="downloadIcon"></a>
                            </td>
                        </tr>
                        <tr class="mat-row">
                            <td class="mat-cell center">
                                CYP2D6
                            </td>
                            <td class="mat-cell center">
                                5,094
                            </td>
                            <td class="mat-cell center">
                                5,094
                            </td>
                            <td class="mat-cell center">
                                <a
                        href="https://pubchem.ncbi.nlm.nih.gov/bioassay/1645840" target="_blank" admeTrackLinkEvent evLabel="cyp2d6 pubchem">AID
                        1645840</a>
                            </td>
                            <td class="mat-cell center">
                              <a [href]="cyp2d6_DownloadHref" target="_blank"><img class="img-icon" [src]="downloadIcon"></a>
                            </td>
                        </tr>
                        <tr class="mat-row">
                            <td class="mat-cell center">
                                CYP3A4
                            </td>
                            <td class="mat-cell center">
                                5,094
                            </td>
                            <td class="mat-cell center">
                                5,094
                            </td>
                            <td class="mat-cell center">
                                <a
                        href="https://pubchem.ncbi.nlm.nih.gov/bioassay/1645841" target="_blank" admeTrackLinkEvent evLabel="cyp3a4 pubchem">AID
                        1645841</a>
                            </td>
                            <td class="mat-cell center">
                              <a [href]="cyp3a4_DownloadHref" target="_blank"><img class="img-icon" [src]="downloadIcon"></a><br>
                            </td>
                        </tr>
                        <tr class="mat-row">
                            <td class="mat-cell center">
                                CYP2C9
                            </td>
                            <td class="mat-cell center">
                                5,094
                            </td>
                            <td class="mat-cell center">
                                5,094
                            </td>
                            <td class="mat-cell center">
                                <a
                        href="https://pubchem.ncbi.nlm.nih.gov/bioassay/1645842" target="_blank" admeTrackLinkEvent evLabel="cyp2c9 pubchem">AID
                        1645842</a>
                            </td>
                            <td class="mat-cell center">
                              <a [href]="cyp2c9_DownloadHref" target="_blank"><img class="img-icon" [src]="downloadIcon"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="footer-line"><sup>a</sup> <i>Total number of compounds present in the training dataset.</i><br>
                  <sup>b</sup> <i>Total number of compounds present in the publicly available dataset.</i>
                </p>
            </div>
        </div>
    </div>
</div>
